/* Css Beginning*/

body{
		font-family: open sans, sans serif;
}

section{
		background: #0fcabf;
		width: 1440px;
		height: 500px;
		margin-left: -9px;
		margin-top: 100px;
		text-align: center;
		padding-top: 30px;
}

h2{
		font-weight: 900;
    	font-size: 36px;
   	 	line-height: 40px;
   	 	color: #fff;
   	 	margin-top: 20px;
}

input{
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
		width: 530px;
		height: 62px;
}

input[type='text']{
    line-height: 20px;
    font-size: 15px;
    font-family: open sans, sans-serif;
    padding: 5px 5px 6px;
    color: #a0a0a0;
}

input:last-child{
    line-height: 20px;
    font-size: 15px;
    font-family: open sans, sans-serif;
    padding: 5px 5px 6px;
    color: #a0a0a0;
}

input:hover{
		background: ##0fcabf;
}

