<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 8: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
	
			<section>
			
					<article>
							<figure>
									<img src="images/page1_img1.jpg" alt="Work" />
							</figure>
							<h2>Electrical<h2>
							<h3>Lorem ipsum dolor sit amet conse ctetur</h3>
							<p>Lorem ipsum dolor sit amet conse ctetur adipisic- ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
					</article>
					
					<article>
							<figure>
									<img src="images/page1_img2.jpg" alt="Work" />
							</figure>
							<h2>Plumbing<h2>
							<h3>Lorem ipsum dolor sit amet conse ctetur</h3>
							<p>Lorem ipsum dolor sit amet conse ctetur adipisic- ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
					</article>
					
					<article>
							<figure>
									<img src="images/page1_img3.jpg" alt="Work" />
							</figure>
							<h2>Carpentry<h2>
							<h3>Lorem ipsum dolor sit amet conse ctetur</h3>
							<p>Lorem ipsum dolor sit amet conse ctetur adipisic- ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
					</article>
			
			</section>
			
	<!-- End Component -->
	
</body>

</html>