<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 8: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
	
			<section>
			
					<article>
							<img src="images/page1_img1.jpg" alt="Work" />
							<div class="yellow">
									<h2>Electrical<h2>
									<h3>Lorem ipsum dolor sit amet conse ctetur</h3>
									<p>Lorem ipsum dolor sit amet conse ctetur adipisic- ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
							</div>
					</article>
					
					<article>
							<img src="images/page1_img2.jpg" alt="Work" />
							<div class="gold">
									<h2>Plumbing<h2>
									<h3>Lorem ipsum dolor sit amet conse ctetur</h3>
									<p>Lorem ipsum dolor sit amet conse ctetur adipisic- ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
							</div>
					</article>
					
					<article>
							<img src="images/page1_img3.jpg" alt="Work" />
							<div class="orange">
									<h2>Carpentry<h2>
									<h3>Lorem ipsum dolor sit amet conse ctetur</h3>
									<p>Lorem ipsum dolor sit amet conse ctetur adipisic- ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.</p>
							</div>
					</article>
			
			</section>
			
	<!-- End Component -->
	
</body>

</html>