<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 5: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
	
			<section>
			
					<h4>Fighter Rankings</h4>
					<ul>
							<li><a href="#"><span>01/</span>Jon Jones</a></li>
							<li><a href="#"><span>02/</span>Jose Aldo</a></li>
							<li><a href="#"><span>03/</span>Demetrious Johnson</a></li>
							<li><a href="#"><span>04/</span>Chris Weidman</a></li>
							<li><a href="#"><span>05/</span>Cain Velasquez</a></li>
							<li><a href="#"><span>06/</span>Anthony Pettis</a></li>
							<li><a href="#"><span>07/</span>Anderson Silva</a></li>
							<li><a href="#"><span>08/</span>Ronda Rousey</a></li>
							<li><a href="#"><span>09/</span>Johny Hendricks</a></li>
							<li><a href="#"><span>10/</span>T.J. Dillashaw</a></li>
					</ul>
					
					<h2>VS</h2>
					<article>
							<img src="images/page-1_img03.jpg" alt="Fight" />
							<h5><a href="#">John Johnson</a></h5>
					</article>
					<article>
							<img src="images/page-1_img04.jpg" alt="Fight" />
							<h5><a href="#">Sam Anderson</a></h5>
					</article>
					
					<article>
							<img src="images/page-1_img05.jpg" alt="Fight" />
							<h5><a href="#">Piter Nelson</a></h5>
					</article>
					<article>
							<img src="images/page-1_img06.jpg" alt="Fight" />
							<h5><a href="#">Richard Black</a></h5>
					</article>
					<p><a href="#">Previous page</a></p>
					<p><a href="#">Next page</a></p>
					
			</section>
			
	<!-- End Component -->
	
</body>

</html>