<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 7: Terence Williams</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
	
		<section>
				
				<h1>Recent From The Blog</h1>
				
				<article>
						<img src="images/page1_pic5.png" alt="person" />
						<h3>Linda Grey</h3>
						<p>Wednesday,</p>
						<time>Jan 22, 2014</time>
						<h2><a href="#">Pellentesque sed dolorliquam congue</a></h2>
						<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.</p>
				</article>
				
				<article>
						<img src="images/page1_pic6.png" alt="person" />
						<h3>Sara Adams</h3>
						<p>Wednesday,</p>
						<time>Jan 22, 2014</time>
						<h2><a href="#">Donec porta diam eu massa</a></h2>
						<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.</p>
				</article>
				
				<article>
						<img src="images/page1_pic7.png" alt="person" />
						<h3>Adam Lee</h3>
						<p>Wednesday,</p>
						<time>Jan 22, 2014</time>
						<h2><a href="#">Proin dictum elementum</a></h2>
						<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.</p>
				</article>
				
				<aside>
						<h4>Our Services</h4>
						
						<ul>
								<li><a href="#">Attics</a></li>
								<li><a href="#">Basements</a></li>
								<li><a href="#">Bathrooms</a></li>
								<li><a href="#">Bedrooms</a></li>
								<li><a href="#">Boomer/Senior Downsizing</a></li>
								<li><a href="#">Children</a></li>
								<li><a href="#">Closets</a></li>
								<li><a href="#">Clutter Elimination</a></li>
								<li><a href="#">Custom Filing Solutions</a></li>
								<li><a href="#">Custom Storage and Design</a></li>
								<li><a href="#">Errands</a></li>
								<li><a href="#">Financial Organizing</a></li>
								<li><a href="#">Garage Organization</a></li>
								<li><a href="#">Holiday Decor & Storage</a></li>
								<li><a href="#">Homes</a></li>
								<li><a href="#">Kitchens</a></li>
								<li><a href="#">Memorabilia Storage</a></li>
								<li><a href="#">Move In</a></li>
								<li><a href="#">Move Out</a></li>
						</ul>
				</aside>
		
		</section>
	
	<!-- End Component -->
	
</body>

</html>