<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 1: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>
<body>

	<!-- Component -->
	
		<header>
				<h1><a href="#"><img src="images//logo.png" /></a></h1>
				<p>Relax playing billiards</p>

		<nav>
				<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contacts</a></li>
				</ul>
		</nav>
		</header>

	<!-- End Component -->
	
</body>

</html>