<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 4: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
		
		<aside>
		
				<h1>Latest News</h1>
				<article>
						<time>
								<p>03</p>
								<p><span>Dec</span>2014</p>
								<h2>Donec Facilisi Ule Mes Cuml Dia Sed</h2>
								<p>Morbi tempor quam mas sadipu iscing ut cucongue pentesqu nisel elit comte modo velultrices vel conseq.</p>
						</time>
				</article>
				<article>
						<time>
								<p>06</p>
								<p><span>Dec</span>2014</p>
								<h2>Donec Facilisi Ule Mes Cuml Dia Sed</h2>
								<p>Morbi tempor quam mas sadipu iscing ut cucongue pentesqu nisel elit comte modo velultrices vel conseq.</p>
						</time>
				</article>
		</aside>

	<!-- End Component -->
	
</body>

</html>