<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 4: Terence Williams</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
		
		<aside>
		
				<h1>Latest News</h1>
				<article>
						<time>
								<p>03</p>
								<p><span>Dec</span><br>2014</p>
						</time>
								<h2><a>Donec Facilisi Ule <span class="red">Mes Cuml Dia Sed</span></a></h2>
								<p>Morbi tempor quam mas sadipu iscing ut cucongue pentesqu nisel elit comte modo velultrices vel conseq.</p>
						
				</article>
				<article>
						<time>
								<p>06</p>
								<p><span>Dec</span><br>2014</p>
						</time>
								<h2><a>Donec Facilisi Ule <span class="red">Mes Cuml Dia Sed</span></a></h2>
								<p>Morbi tempor quam mas sadipu iscing ut cucongue pentesqu nisel elit comte modo velultrices vel conseq.</p>
						
				</article>
		</aside>

	<!-- End Component -->
	
</body>

</html>