/* Css Beginning */

body{
		background: #ccc;
		text-align: center;
}

section{
		background: url("../images/parallax2.jpg") no-repeat;
		width: 1586px;
		height: 740px;
		margin-left: -155px;
		margin-top: -11px;
}

article{
		padding-top: 250px;
		color: #fff;
		margin-left: 300px;
}

h2{
		font-size: 35px;
    	line-height: 36px;
    	font-weight: 500;
    	letter-spacing: 4.8px;
    	text-transform: uppercase;
}

h6{
		color: #ffa200;
		font-size: 21px;
}

p{
		font-size: 21px;
    	line-height: 36px;
    	font-weight: 500;
    	letter-spacing: 2px;
}

img{
		border-radius: 50%;
		border: 3px solid #fff;
		margin: 15px;
}

img:hover{
		transform: rotate(330deg);
		border-color: #ba0e0e;
}

p:last-child{
		float: right;
		margin-right: 80px;
		margin-top: -90px;
		width: 30px;
		padding: 1px;
		border-radius: 5px;
		text-align: center;
		background: #ffa200;
		color: #fff;
}

a{
		text-decoration: none;
		color: #fff;
}

p:last-child:hover{
		background: #999;
		border-radius: 50%;
		transform: skew(10deg,10deg);
		border: 2px solid #8ebd52;
		color: #fff;
}
