<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3: Terence Williams</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
	
		<section>
		
				<article>
						<h2>Testimonials</h2>
						<p>Elementum velitIpede mi, aliquet sit ametuismodIn pede mi, aliquet sit amet, euismod in,auctor ut, <br> ligula orem ipsum dolor sit amet, consectetuer
                                        adipiscing elit.  </p>
                        <h6>-Man Untd</h6>
						<img class="active" src="images/page-1_img04.jpg" alt="person" />
						<img src="images/page-1_img05.jpg" alt="person" />
						<img src="images/page-1_img06.jpg" alt="person" />
						<img src="images/page-1_img07.jpg" alt="person" />
						<img src="images/page-1_img08.jpg" alt="person" />
						<p><a href="#">^</a></p>
				
				</article>
				
		</section>
		
	<!-- End Component -->
	
</body>

</html>