<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 2: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
	
		<nav>
				<h1>Personal Training</h1>
				<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Programs</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Contacts</a></li>
				</ul>
		</nav>
		
	<!-- End Component -->
	
</body>

</html>