/* Css Beginning*/

body{
		background: #fff;
		font-family: lato, sans serif;
}

section{
		background: #82845d;
		width: 1425px;
		height: 758px;
		margin-left: -9px;
		margin-top: -13px;
		
}

article{
		float: left;
		width: 390px;
		margin-left: 110px;
		margin-right: -110px;
}

h2{
		color: #fff;
		font-size: 45px;
		padding-left: 20px;
		margin-bottom: -20px;
}

h3{
		color: #fff;
		padding-left: 20px;
		font-size: 25px;
}

p{
		padding-left: 20px;
}

.yellow{
		background: #ffc000;
		height: 290px;
		margin-top: -50px;
		padding: 15px;
}

.gold{
		background: #d3b146;
		height: 290px;
		margin-top: -50px;
		padding: 15px;
}

.orange{
		background: #ff7200;
		height: 290px;
		margin-top: -50px;
		padding: 15px;
}
