/* Css Beginning*/

body{
		background: #fff;
		font-family: lato, sans serif;
}

section{
		background: #82845d;
		width: 1425px;
		height: 900px;
}

article{
		float: left;
		width: 390px;
		margin-left: 110px;
		margin-right: -110px;
}

h2{
		color: #fff;
		font-size: 45px;
		padding-left: 20px;
}

h3{
		color: #fff;
		padding-left: 20px;
}

p{
		padding-left: 20px;
}
