<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 6: Terence Williams</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
		
		<footer>
		
				<a href="#"><img src="images/video_camera.png" alt="vid" /></a>
				<h1><a href="#">vid<span>meo</span></a></h1>
				<p>Commercial video production</p>
				
				<ul>
						<li><a href="http://www.facebook.com">Facebook</a></li>
						<li><a href="https://www.twitter.com">Twitter</a></li>
						<li><a href="http://www.google.com/+/"> Google+</a></li>
						<li><a href="https://instagram.com/">Instagram</a></li>
				</ul>
				<p><span>Vidmeo</span> &copy 2015 | <a href="#">Privacy Policy</a></p>
				
		</footer>
		
	<!-- End Component -->
	
</body>

</html>