<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 6: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
		
		<footer>
		
				<h1>vid<span>meo</span></h1>
				<p>Commercial video production</p>
				<ul>
						<li><a href="https://www.facebook.com/">Facebook</a></li>
						<li><a href="https://twitter.com/login/">Twitter</a></li>
						<li><a href="https://www.google.com/+/">Google+</a></li>
						<li><a href="https://instagram.com/">Instagram</a></li>
				</ul>
				<p><span>Vidmeo</span> &copy 2015 | <a href="#">Privacy Policy</a></p>
				
		</footer>
		
	<!-- End Component -->
	
</body>

</html>