<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 9: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>

<body>

	<!-- Component -->
	
			<section>
					
					<h2>Contact Form</h2>
			
					<form>
							<input type="text" name="Name" value="Name">
							<input type="text" name="Phone" value="Phone">
							<input type="text" name="Email" value="Email">
							<input type="text" name="Message" value="Message">
							<p><a href="#" data-type="submit">Send</a></p>
					</form>
					<p><a href="#">page up</a></p>
			
			</section>

	<!-- End Component -->
	
</body>

</html>