<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 9: Terence Williams</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
	
			<section>
					
					<h2>Contact Form</h2>
			
					<form>
							<input type="text" name="Name" placeholder="Name">
							<input type="text" name="Phone" placeholder="Phone">
							<input type="text" name="Email" placeholder="Email">
							<input type="text" name="Message" placeholder="Message">
							<button data-type="submit">Send</button>
					</form>
			
			</section>

	<!-- End Component -->
	
</body>

</html>