<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 9: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
	
			<section>
					
					<h2>Contact Form</h2>
			
					<form>
							<input type="text" name="Name" placeholder="Name">
							<input type="text" name="Phone" placeholder="Phone">
							<input type="text" name="Email" placeholder="Email">
							<input type="text" name="Message" placeholder="Message">
							<input type="submit" value="Submit">
					</form>
					<p><a href="#">page up</a></p>
			
			</section>

	<!-- End Component -->
	
</body>

</html>