<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 10: Terence Williams</title>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>

<body>

	<!-- Component -->
	
			<section>
					
					<h2>Feedback</h2>
					<p>Fusce ultricies orci turpis, id pharetra lorem rhoncus ut</p>
			
					<form>
							<input type="text" name="Name" placeholder="Name">
							<input type="text" name="Phone" placeholder="Phone">
							<input type="text" name="Email" placeholder="Email">
							<textarea type="text" name="Message" placeholder="Message" rows="4" cols="50"></textarea>
							<button data-type="submit">Send</button>
					</form>
					
			</section>
			
	<!-- End Component -->
	
</body>

</html>